body {
  background-image: url(./61772.png);
  background-size: 100%;
}
.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #e86e16;
  border-radius: 5px;
  padding: 20px;
  margin: -10px;
  background: linear-gradient(
    107deg,
    rgb(255, 67, 5) 11.1%,
    rgb(245, 135, 0) 95.3%
  );
}
.btn-primary value {
  color: #343a40;
}
.btn-primary {
  background-color: #6c757d;
  border: 1px solid #6c757d;
}

.btn-primary:hover {
  background-color: #495057;
  border: 1px solid #495057;
}

.Weather h1 {
  color: #f8f9fa;
  font-size: 40px;
  font-weight: 100;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  color: #f8f9fa;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  list-style: none;
}

.Weather canvas {
  margin: 15px auto;
  display: inline-block;
}

.WeatherTemperature {
  font-weight: bold;
  color: #f8f9fa;
  font-size: 64px;
  font-weight: 400;
  margin-top: -100px;
  margin-left: 83px;
}
.WeatherTemperature .units {
  font-size: 15px;
  top: -34px;
  position: relative;
  color: #f8f9fa;
}
a {
  color: #e9ecef;
}
